@charset "ISO-8859-1";
/* 
#playBackVideoActionDiv{
	height: 90vh;
	border: 1px solid red;
	width: 100%;
	position: absolute;
	bottom: 0px;
	background-color: transparent;
	text-align: center;
}
#playBackVideoActionDiv{
	height: 10vh;
}


#SingleStream{
	height:90vh;

}


.playBackActionBtn {
   
    border: none;
    color: white;
   padding: 10px 20px;
	margin: 2px 0px;  
	height: 100%;
	width: auto;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    -webkit-transition-duration: 0.4s; Safari
    transition-duration: 0.4s;
    cursor: pointer;
}

.pbBtn {
    background-color: grey;
    color: black;
    border: 1px solid #e7e7e780;
}

.pbBtn:hover {
    background-color: #e7e7e7;
}

.atnImage{
	color: white;
	background-color: transparent;
	font-size: 100%;
} */

#playBackVideoStreamDiv{

	}

#playBackVideoActionDiv {
	   display:none;
	width: 99%;
	height: auto;
	border-top: 1px solid #484848;
	border-left: 1px solid #484848;
	border-right: 1px solid #484848;
	position: absolute;
	bottom: 0%;
	background-color: #00000080;
	margin-left: 5px;
	padding-bottom: 5px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

#playBackVideoActionDiv button{
	/* text-indent: -9999px; */
    width: auto;
    height: 100%;
    border: none;
    cursor: pointer;
   	color: grey;
   	background: transparent;
	font-size: 16px;
}

#pauseActionBtn{
	display:none;
}

#btnImage{
	color:white;
}
#stopBtnImage{
	color:white;
}
/* #stopActionBtn{
	display:none;
} */


body:hover > div > #playBackVideoActionDiv { display : block; }
/*
body:hover { 
   #playBackVideoActionDiv
   {
   display : block;
   }
}


*/